@import '@styles/variables.scss';
@import '@styles/common/form.module.scss';

.background {
  width: 100vw;
  height: 100vh;
  background-color: $base_color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 66px 44px;
  border-radius: 5%;
  background-color: $off_light_color;
}

.title {
  font-size: 3rem;
  margin: 0 0 1rem;
  color: $light_color;
}